{{extend 'layout2.html'}}


 <link rel="stylesheet" href="{{=URL('static','css/main.css')}}"/>

     <title>{{=response.title or request.application}}</title>
<div id="reset_password">
 

 {{=form.custom.begin}}
	<table class="box">
		  <tr>
			<td class="logo" colspan="2"></td>
			<td class="tg-yw4l"></td>
		  </tr>
		  <tr class="up1">
			
			
			<td class="box2" colspan="2">

				  Usuario:<br>
				      <div class="formStyle">
							<input type="text" class="inputStyle" name="email">
					</div>
				  <br>
						Contraseña:<br>
				   <div class="formStyle">
							<input type="password" class="inputStyle" name="password">
					</div>	
					<div class="remember"> <input  id="auth_user_remember_me" name="remember_me" type="checkbox"> Recordar Datos</div>
					<div class="invalidSession">{{=response.flash or ''}}</div>
			</td>
			<td class="side" rowspan="4"></td>
		  </tr>
		  
		  <tr>
			<td class="box3">
				     <button class="buttonZ btn btn-default" type="submit">	Ingresar</button>
			</td>
			<td class="box3 box35">
			<a href="{{=URL('default','register')}}">
					REGISTRARSE
			</a>
		  </tr>
		  <tr>
			<td class="box4" colspan="2">	<a href="{{=URL('default','reset')}}">Contraseña olvidada</a></td>
		  </tr>
		  <tr>
			<td class="box5" colspan="2">SIGULAB</td>
		  </tr>
		  <tr>
			<td  colspan="3">Contáctanos: ulab-smdp@usb.ve</td>
		  </tr>
		</table> 

{{ =form.custom.end}}

</div>
