{{extend 'layout.html'}}
<div class="container">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active">Home</li>
    </ol>
    <br>
    <br>
    <div class="row">

        {{if auth.has_membership('Director') \
          or auth.has_membership('WebMaster')\
          or auth.has_membership('Jefe de Laboratorio') \
          or auth.has_membership('Jefe de Sección') \
          or auth.has_membership('Técnico')\
          or auth.has_membership('Gestor de Sustancias'):}}
        <div class="panel col-md-6 text-center">
	        <a href="{{=URL('front_page','sustancias')}}" class="btn btn-lg btn-block" role="button">
		        <h4>
		            <i class="fa fa-flask fa-3x" aria-hidden="true"></i>
		        </h4>
		        <h4>
		            Sustancias
		        </h4>
	        </a>
        </div>

        <div class="panel col-md-6 text-center">
            <a href="{{=URL('front_page','desechos')}}" class="btn btn-lg btn-block" role="button">
		        <h4>
		            <i class="fa fa-trash-o fa-3x" aria-hidden="true"></i>
		        </h4>
		        <h4>
		            Desechos
		        </h4>
	        </a>
        </div>
        {{pass}}

        {{if auth.has_membership('Administrador Personal') \
            or auth.has_membership('WebMaster')\
            or auth.has_membership('Director'): }}
        <div class="panel col-md-6 text-center">
            <a href="{{=URL('gestion','index')}}" class="btn btn-lg btn-block" role="button">
		        <h4>
		            <i class="fa fa-user-o fa-3x" aria-hidden="true"></i>
		        </h4>
		        <h4>
		            Personal
		        </h4>
	        </a>
        </div>

        <div class="panel col-md-6 text-center">
            <a href="{{=URL('gestion','index_e')}}" class="btn btn-lg btn-block" role="button">
            <h4>
                <i class="fa fa-building-o fa-3x" aria-hidden="true"></i>
            </h4>
            <h4>
                Espacios
            </h4>
          </a>
        </div>
        {{pass}}
    </div>
</div>
