{{extend 'layout.html'}}
{{if auth.has_membership('Director') \
  or auth.has_membership('WebMaster')\
  or auth.has_membership('Jefe de Laboratorio') \
  or auth.has_membership('Jefe de Sección') \
  or auth.has_membership('Técnico')\
  or auth.has_membership('Gestor de Sustancias'):}}
<div class="container">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{=URL('front_page','index')}}">Home</a></li>
      <li class="breadcrumb-item active">Sustancias</li>
    </ol>
    <h1 align="center" style="color:#455A64">SUSTANCIAS</h1>
    <div class="row">

        <div class="col-sm-4 col-sm-offset-2 text-center">
          <div class="card card-4" onclick="window.location.href = '{{=URL('sustancias','sustanciapeligrosa_manage')}}'">
              <h4><i class="fa fa-list-ol fa-5x" aria-hidden="true"></i></h4>
            <div class="card-block">
                Listado Sustancias
            </div>
          </div>
	    </div>

        <div class="col-sm-4 text-center">

          <div class="card card-4" onclick="window.location.href = '{{=URL('sustancias','select_inventario')}}'">
              <h4><i class="fa fa-book fa-5x" aria-hidden="true"></i></h4>
            <div class="card-block">
                Inventario
            </div>
          </div>

           
        </div>
    </div>
</div>
{{else:}}
{{redirect(URL('front_page','index'))}}
{{pass}}
