{{extend 'layout.html'}}
<div class="container">
	<ol class="breadcrumb">
	  <li class="breadcrumb-item"><a href="{{=URL('front_page','index')}}">Home</a></li>
	  <li class="breadcrumb-item"><a href="{{=URL('front_page','sustancias')}}">Sustancias</a></li>
	  <li class="breadcrumb-item"><a href="{{=URL('sustancias','select_inventario')}}">Inventario</a></li>
	  <li class="breadcrumb-item active">Espacios Físicos</li>
	</ol>

{{if labs:}}
<h3 style="color:#455A64">{{=labs}}</h3>
{{pass}}

{{if seccion:}}
<h3 style="color:#455A64">Seccion: {{=seccion}}</h3>
{{pass}}

{{if sustancia:}}
<h3 style="color:#455A64">Sustancia: {{=sustancia}}</h3>
{{pass}}

{{if espFisico:}}
<h2>Espacio Fisico: {{=espFisico}}</h2>
{{pass}}

{{if 'edit' in request.args:}}
<p>{{=table[1]}}</p>
<h2 class='text-center'>Sustancia: {{=str(sust)}}</h2>
<h2 class='text-center'>Cantidad De Donación Disponible: {{=donac}} {{=unid}}</h2>
<h2 class='text-center'>Cantidad De Uso Interno Disponible: {{=usoint}} {{=unid}}</h2>
<p>{{=form}}</p>
<p class="help-block center">Los campos marcados con (*) son obligatorios</p>

{{else:}}

<p>{{=table}}</p>
{{if 'new' in request.args:}}
<p class="help-block center">Los campos marcados con (*) son obligatorios</p>
{{pass}}

{{pass}}

{{if not('edit' in request.args or 'new' in request.args):}}
<a  href="{{=URL('sustancias','select_inventario')}}">
<button class="btn btn-default">Atras</button>
</a>
{{pass}}
</div>

<script>
    var js = {{=js}};
    $('tr').each(function(){
      x = $(this).find('td').first().find('a');
      x.attr('data-toggle','tooltip');
      y = x.text();
      x.attr('title',js[y]);
    });
    $('[data-toggle="tooltip"]').tooltip();
</script>
