{{extend 'layout.html'}}
<div class="container">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{=URL('front_page','index')}}">Inicio</a></li>
    <li class="breadcrumb-item"><a href="{{=URL('front_page','sustancias')}}">SMyDP</a></li>
    <li class="breadcrumb-item"><a href="{{=URL('sustancias','select_inventario')}}">Inventario</a></li>
    <li class="breadcrumb-item active">Espacios Físicos</li>
  </ol>

{{if labs:}}
<h1 style="color:#455A64" class="text-center">{{=labs}}</h1>
{{pass}}

{{if seccion:}}
<h3 style="color:#455A64" class="text-center">Dependencia: {{=seccion}}</h3>
{{pass}}

{{if espFisico:}}
<h3 style="color:#455A64" class="text-center">Espacio Fisico: {{=espFisico}}</h3>
{{pass}}

{{if sustancia:}}
<h3 style="color:#455A64" class="text-center">Sustancia: {{=sustancia}}</h3>

{{pass}}

<hr style="border-width:thick;border-color:#455A64;">

{{if 'edit' in request.args:}}
<p>{{=table[1]}}</p>
<h2 class='text-center'>Sustancia: {{=str(sust)}}</h2>
<h2 class='text-center'>Cantidad Excedente Disponible: {{=donac}} {{=unid}}</h2>
<h2 class='text-center'>Cantidad De Uso Interno Disponible: {{=usoint}} {{=unid}}</h2>
<p>{{=form}}</p>
<p class="help-block center">Los campos marcados con (*) son obligatorios</p>

{{else:}}

<p>{{=table}}</p>

{{if 'new' in request.args:}}
<p class="help-block center">Los campos marcados con (*) son obligatorios</p>
{{pass}}

{{pass}}

{{if not('edit' in request.args or 'new' in request.args):}}
<a  href="{{=URL('sustancias','select_inventario')}}">
<button class="btn btn-default">Atras</button>
</a>
{{pass}}

{{if espFisico:}}
<a  href="{{=URL('reportes','reporte_esp',vars=dict(esp=request.vars['esp']))}}">
<button class="btn btn-default">Generar Reporte</button>
</a>
{{pass}}

{{if sustancia:}}
<a  href="{{=URL('reportes','reporte_sust',vars=dict(secc=request.vars['secc'],sust=request.vars['sust']))}}">
<button class="btn btn-default">Generar Reporte</button>
</a>
{{pass}}

</div>

<script>
    var js = {{=js}};
    $('tr').each(function(){
      x = $(this).find('td').first().find('a');
      x.attr('data-toggle','tooltip');
      y = x.text();
      x.attr('title',js[y]);
    });
    $('[data-toggle="tooltip"]').tooltip();
</script>
