{{extend 'layout.html'}}

<h2>Seleccionar Inventario</h2>
{{if espacios:}}
<h3>Espacios Fisicos:</h3>
{{for espacio in espacios:}}
<a = href="{{=URL('sustancias','inventario_manage',vars=dict(esp=espacio.id))}}"
<p>Seccion: {{=espacio.f_seccion}}, {{=espacio.f_espacio}}</p>
{{pass}}
</a>

{{if secciones:}}
<h3>Secciones:</h3>
{{  for seccion in secciones:}}
<a = href="{{=URL('sustancias','inventario_seccion',vars=dict(secc=seccion.id))}}"
<p>{{=str(db(db.t_laboratorio.id ==  seccion.f_laboratorio).select(db.t_laboratorio.f_nombre))[24:-2]}}, {{=seccion.f_seccion}}</p>
</a>
{{  pass}}
{{pass}}

{{if labs:}}
<h3>Laboratorios:</h3>
{{  for lab in labs:}}
<a = href="{{=URL('sustancias','inventario_lab',vars=dict(lab=lab.id))}}"
<p>{{=lab.f_nombre}}</p>
</a>
{{  pass}}
{{pass}}

{{else:}}
<h3>No hay nada aqui :(</h3>
{{pass}}
<a  href="{{=URL('front_page','sustancias')}}">
<button class="btn btn-default">Atras</button>
</a>
