{{extend 'layout.html'}}

<div class="container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{=URL('front_page','index')}}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{=URL('front_page','sustancias')}}">Sustancias</a></li>
        <li class="breadcrumb-item active">Inventario</li>
    </ol>
<p>{{str(auth.has_membership('Técnico'))}}</p>
{{if espacios:}}
  <br>
  <div class="row sigulab-botones">
    <div class="col-sm-4 text-center">
		<div class="card card-2">
		    <h4><i class="fa fa-stethoscope fa-5x" aria-hidden="true"></i></h4>
			<div class="card-block">
			    Laboratorios
			</div>
		</div>
		{{if labs:}}
			<div class="card card-3">
				{{for lab in labs:}}
				<div class="card card-1" onclick="window.location.href = '{{=URL('sustancias','inventario_lab',vars=dict(lab=lab.id))}}'">
				    {{=lab.f_nombre}}
				</div>
				{{pass}}
				<br>
			</div>
		{{pass}}
    </div>

    <div class="col-sm-4 text-center">
		<div class="card card-2">
			<h4><i class="fa fa-flask fa-5x" aria-hidden="true"></i></h4>
			<div class="card-block">
			    Secciones
			</div>
		</div>
		{{if secciones:}}
			<div class="card card-3">
				{{for seccion in secciones:}}
				<div class="card card-1" onclick="window.location.href = '{{=URL('sustancias','inventario_seccion',vars=dict(secc=seccion.id))}}'">
				    {{=str(db(db.t_laboratorio.id == seccion.f_laboratorio).select(db.t_laboratorio.f_nombre))[22:-2]}} - {{=seccion.f_seccion}}
				</div>
			
				{{pass}}
				<br>
			</div>
		{{pass}}
    </div>

    <div class="col-sm-4 text-center">
		<div class="card card-2">
			<h4><i class="fa fa-building fa-5x" aria-hidden="true"></i></h4>
			<div class="card-block">
			    Espacios Fisicos
			</div>
		</div>

		
		{{if espacios:}}
		<div class="card card-3">

			{{for espacio in espacios:}}
			<div class="card card-1" onclick="window.location.href = '{{=URL('sustancias','inventario_manage',vars=dict(esp=espacio.id))}}'">
			    {{=str(db(db.t_seccion.id == espacio.f_seccion).select(db.t_seccion.f_seccion))[19:-2]}} - {{=espacio.f_espacio}}
			</div>
			{{pass}}


		</div>
		{{pass}}

    </div>
</div>

{{else:}}

{{pass}}
<br>
<br>
</div>
