{{extend 'layout.html'}}
<div class="container">
{{ if 'edit' in request.args:}}
	<div>
		<ol class="breadcrumb">
		  <li class="breadcrumb-item"><a href="{{=URL('front_page','index')}}">Inicio</a></li>
		  <li class="breadcrumb-item"><a href="{{=URL('front_page','sustancias')}}">SMyDP</a></li>
		  <li class="breadcrumb-item"><a href="{{=URL('sustancias','sustanciapeligrosa_manage')}}">Listado de sustancias</a></li>
      <li class="breadcrumb-item active">Editar</li>
		</ol>
	</div>
  {{ elif 'new' in request.args:}}
  <div>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{=URL('front_page','index')}}">Inicio</a></li>
      <li class="breadcrumb-item"><a href="{{=URL('front_page','sustancias')}}">SMyDP</a></li>
      <li class="breadcrumb-item"><a href="{{=URL('sustancias','sustanciapeligrosa_manage')}}">Listado de sustancias</a></li>
      <li class="breadcrumb-item active">Añadir</li>
    </ol>
  </div>
  {{pass}}

	<br>

	<h2 style="color:#455A64">Listado de Sustancias Peligrosas</h2>

	<div class="row">
		<p>{{=table}}</p>
	</div>

</div>

<script>
	{{if 'edit' in request.args:}}
    jQuery('.col-sm-9.col-sm-offset-3').removeClass('col-sm-9').removeClass('col-sm-offset-3').addClass('col-sm-12').addClass('center');
    jQuery('input.btn.btn-primary').addClass('btn-lg');
		var r=false
		var text = '\
		<a href="{{=URL('sustancias','delete_sustancias',vars=dict(d=request.args[3]) ) }}">\
			<button class="btn btn-danger btn-lg" type="button">\
				<span class="icon trash icon-trash glyphicon glyphicon-trash"></span>\
				 Eliminar\
			</button>\
		</a>'

		jQuery('.checkbox').html(text);

		jQuery('.checkbox').on('click',function(e){
			r = confirm("Desea Eliminar Esta Sustancia?")
			if (!r){
				e.preventDefault();
				alert("Sustancia no eliminada.")
			}
		});
	{{pass}}

	{{if not ('view' in request.args or 'edit' in request.args):}}
		jQuery('.row_buttons').hide();
	{{pass}}

</script>

<style>
	tr {
		height: 38px;
	}
</style>
