{{extend 'layout.html'}}
<div class="container style="background-color:#E0F2F1">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{=URL('front_page','index')}}">Home</a></li>
    <li class="breadcrumb-item"><a href="{{=URL('gestion', 'index')}}">Gestión</a></li>
    <li class="breadcrumb-item active">Usuarios Autorizados</li>
  </ol>

<h2>Gestión de Usuarios Autorizados</h2>
<p>Desde aquí se pueden consultar, editar y eliminar los usuarios que están autorizados para registrarse en el sistema.</p>
<p>{{=form}}</p>
</div>