{{extend 'layout.html'}}
<div class="container">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{=URL('front_page','index')}}">Inicio</a></li>  
    <li class="breadcrumb-item"><a href="{{=URL('gestion','secciones')}}">Dependencias</a></li>
    <li class="breadcrumb-item active">Espacios Físicos</li>
  </ol>

<h2>Gestión de Espacios Físicos</h2>
<p>Permite añadir, buscar, editar y eliminar los Espacios Físicos bajo la custodia de las Dependencias de la ULAB y sus Responsables.</p>
<p>{{=form}}</p>


{{if 'new' in request.args or 'edit' in request.args:}}
<p class="help-block center">Los campos marcados con (*) son obligatorios</p>
{{pass}}
</div>

