{{extend 'layout.html'}}
<div class="container">
    <ol class="breadcrumb" style="background-color:#E0F2F1">
      <li class="breadcrumb-item"><a href="{{=URL('front_page','index')}}">Home</a></li>
      <li class="breadcrumb-item active">Gestión</li>
    </ol>
    <h1 align="center" style="color:#455A64"> GESTIÓN DE PERSONAL</h1>
    <br>
    <div class="row">
        <div class="panel col-md-6 text-center">
	        <a href="{{=URL('gestion','usuarios')}}" class="btn btn-lg btn-block" role="button">
		        <h4>
		            <i class="fa fa-address-book fa-3x" aria-hidden="true"></i>
		        </h4>
		        <h4>
		            Gestion de Usuarios Registrados
		        </h4>
	        </a>
        </div>

        <div class="panel col-md-6 text-center">
            <a href="{{=URL('gestion','autorizados')}}" class="btn btn-lg btn-block" role="button">
		        <h4>
		            <i class="fa fa-users fa-3x" aria-hidden="true"></i>
		        </h4>
		        <h4>
		            Gestion de Usuarios Autorizados
		        </h4>
	        </a>
        </div>

        <div class="panel col-md-6 text-center">
            <a href="{{=URL('gestion','privilegios')}}" class="btn btn-lg btn-block" role="button">
		        <h4>
		            <i class="fa fa-certificate fa-3x" aria-hidden="true"></i>
		        </h4>
		        <h4>
		            Gestión de Privilegios
		        </h4>
	        </a>
        </div>

        <div class="panel col-md-6 text-center">
            <a href="{{=URL('gestion','pendientes')}}" class="btn btn-lg btn-block" role="button">
		        <h4>
		            <i class="fa fa-user-plus fa-3x" aria-hidden="true"></i>
		        </h4>
		        <h4>
		            Lista de Usuario por Confirmar ({{=users_pen}})
		        </h4>
	        </a>
        </div>
    </div>
</div>
