{{extend 'layout.html'}}
<div class="container">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{=URL('front_page','index')}}">Inicio</a></li>
      <li class="breadcrumb-item active">Gestión</li>
    </ol>
    <h1 align="center" style="color:#455A64"> GESTIÓN DE DEPENDENCIAS</h1>
    <br>
    <div class="row">
        <div class="panel col-md-4 text-center">
          <a href="{{=URL('gestion','laboratorios')}}" class="btn btn-lg btn-block" role="button">
            <h4>
                <i class="fa fa-stethoscope fa-5x" aria-hidden="true"></i>
            </h4>
            <h4>
                Gestión de Unidades
            </h4>
          </a>
        </div>

        <div class="panel col-md-4 text-center">
            <a href="{{=URL('gestion','secciones')}}" class="btn btn-lg btn-block" role="button">
            <h4>
                <i class="fa fa-flask fa-5x" aria-hidden="true"></i>
            </h4>
            <h4>
                Gestión de Dependencias
            </h4>
          </a>
        </div>

        <div class="panel col-md-4 text-center">
            <a href="{{=URL('gestion','espacios')}}" class="btn btn-lg btn-block" role="button">
            <h4>
                <i class="fa fa-building fa-5x" aria-hidden="true"></i>
            </h4>
            <h4>
                Gestión de Espacios Físicos
            </h4>
          </a>
        </div>
    </div>
</div>
