{{extend 'layout.html'}}
<div class="container">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{=URL('front_page','index')}}">Home</a></li>
      <li class="breadcrumb-item active">Gestión</li>
    </ol>
    <h1 align="center" style="color:#455A64"> GESTIÓN DE ESPACIOS</h1>
    <br>
    <div class="row">
        <div class="panel col-md-4 text-center">
          
          <div class="card card-4" onclick="window.location.href = '{{=URL('gestion','laboratorios')}}'">
            <h4><i class="fa fa-university fa-5x" aria-hidden="true"></i></h4>
            <div class="card-block">
                Gestión de Laboratorios
            </div>
          </div>
        </div>

        <div class="panel col-md-4 text-center">
          
          <div class="card card-4" onclick="window.location.href = '{{=URL('gestion','secciones')}}'">
            <h4><i class="fa fa-flask fa-5x" aria-hidden="true"></i></h4>
            <div class="card-block">
                Gestión de Secciones
            </div>
          </div>

        </div>

        <div class="panel col-md-4 text-center">
          <div class="card card-4" onclick="window.location.href = '{{=URL('gestion','espacios')}}'">
            <h4><i class="fa fa-building fa-5x" aria-hidden="true"></i></h4>
            <div class="card-block">
                Gestión de Espacios Físicos
            </div>
          </div>
        </div>
    </div>
</div>
