{{extend 'layout.html'}}
<div class="container">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{=URL('front_page','index')}}">Home</a></li>
      <li class="breadcrumb-item active">Gestión</li>
    </ol>
    <h1 align="center" style="color:#455A64"> GESTIÓN DE PERSONAL</h1>
    <br>
    <div class="row">
        <div class="panel col-md-6 text-center">
          
          <div class="card card-4" onclick="window.location.href = '{{=URL('gestion','usuarios')}}'">
            <h4><i class="fa fa-address-book fa-5x" aria-hidden="true"></i></h4>
            <div class="card-block">
                Gestion de Usuarios Registrados
            </div>
          </div>

        </div>

        <div class="panel col-md-6 text-center">

          <div class="card card-4" onclick="window.location.href = '{{=URL('gestion','autorizados')}}'">
            <h4><i class="fa fa-users fa-5x" aria-hidden="true"></i></h4>
            <div class="card-block">
                Gestion de Usuarios Autorizados
            </div>
          </div>


        </div>

        <div class="panel col-md-6 text-center">
		  <div class="card card-4" onclick="window.location.href = '{{=URL('gestion','privilegios')}}'">
            <h4><i class="fa fa-certificate fa-5x" aria-hidden="true"></i></h4>
            <div class="card-block">
                Gestión de Privilegios
            </div>
          </div>
        </div>

        <div class="panel col-md-6 text-center">
          <div class="card card-4" onclick="window.location.href = '{{=URL('gestion','pendientes')}}'">
            <h4><i class="fa fa-user-plus fa-5x" aria-hidden="true"></i></h4>
            <div class="card-block">
                Lista de Usuario por Confirmar ({{=users_pen}})
            </div>
          </div>

        </div>
    </div>
</div>
