{{extend 'layout.html'}}
<div class="container">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{=URL('front_page','index')}}">Inicio</a></li>
    <li class="breadcrumb-item"><a href="{{=URL('gestion', 'index')}}">Usuarios</a></li>
    <li class="breadcrumb-item active">Pendientes</li>
  </ol>


<h2>Gestión de Usuarios Registrados Pendientes por Confirmación</h2>
<p>Permite confirmar el registro y datos de usuarios que se registraron en el sistema sin estar en la Lista de Usuarios Autorizados.</p>
<p>{{=form}}</p>


{{if 'new' in request.args or 'edit' in request.args:}}
<p class="help-block center">Los campos marcados con (*) son obligatorios</p>
{{pass}}
</div>

