{{extend 'layout.html'}}
<div class="container">
	<ol class="breadcrumb">
	  <li class="breadcrumb-item"><a href="{{=URL('front_page','index')}}">Home</a></li>
	{{if f=='1':}}
	  <li class="breadcrumb-item"><a href="{{=URL('solicitud','select_solicitud', vars=dict(f=request.vars['f']))}}">Mis Solicitudes</a></li>
	{{elif f=='2':}}
	  <li class="breadcrumb-item"><a href="{{=URL('solicitud','select_solicitud', vars=dict(f=request.vars['f']))}}">Solicitudes Recibidas</a></li>
	{{elif f=='3':}}
	  <li class="breadcrumb-item"><a href="{{=URL('solicitud','select_solicitud', vars=dict(f=request.vars['f']))}}">Préstamos</a></li>
	{{elif f=='4':}}
	  <li class="breadcrumb-item"><a href="{{=URL('solicitud','select_solicitud', vars=dict(f=request.vars['f']))}}">Deudas</a></li>
	{{pass}}
	  <li class="breadcrumb-item active">Espacio Físico</li>
	</ol>
</div>
{{if labs:}}
<h3>{{=labs}}</h3>
{{pass}}

{{if seccion:}}
<h3>Seccion: {{=seccion}}</h3>
{{pass}}

{{if espFisico:}}
<h2>Espacio Fisico: {{=espFisico}}</h2>
{{pass}}

<p>{{=table}}</p>
<a  href="{{=URL('solicitud','select_solicitud', vars=dict(f=request.vars['f']))}}">
<button class="btn btn-default">Atras</button>
</a>
<script>
a={{=f}}
if (a==1){
	js = {{=aux}};
	i = 0;
	$('.row_buttons').each(function(){
		x = $(this).find('a');
		x.find('span').first().css('visibility','hidden');
		y = x.first();
		if (js[i]==1){
			y.css('visibility','hidden');
		}
		i +=1;
	});
}
</script>

<script>
	$('.row_buttons').each(function(){
		x = $(this).find('a');
		x.find('span').first().hide();
	});
</script>